body {
    font-family: 'Source Code Pro', 'Courier', monospace;
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  background: #000;
  background-image: linear-gradient( to bottom, rgba(0, 0, 0, .5), rgba(0, 9, 71, .5), rgba(28, 0, 54, .5)), url('http://i.imgur.com/g8gmGHq.jpg');
  background-size: auto, 100% auto;
  height: 100%;
  width: 100%;
}

canvas {
    background: #000;
}

a, a:hover, a:visited {
    color: #000;
    text-decoration: none;
}

a {
    border-bottom: 2px solid #31ffd5;
}

a:hover {
    background:#31ffd5;
}

.main-wrapper {
    width: 512px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
}

.main-header, .main-footer {
    text-align: center;
}

.subtitle {
    font-size: 1.5em;
}

.main-header {
    margin-top: 0;
    margin-bottom: 2em;
}

.main-header h1 {
    margin: 0;
    background: #000000;
    border-bottom: 1px solid #222;
    padding: 0.5em 1em;
    color:white;
}

.main-header a {
    color: #000;
    text-decoration: none;
}

.main-footer {
    margin-top: 2em;
}

li, p {
    line-height: 1.25em;
}

li {
    margin: 0.5em 0;
}

@import url(https://fonts.googleapis.com/css?family=Bangers);

section {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
}