body {
    font-family: 'Courier', monospace;
}

canvas {
    background: #000;
}

a, a:hover, a:visited {
    color: blue;
}

.main-wrapper {
    width: 512px;
    margin: 0 auto;
}

.main-header, .main-footer {
    text-align: center;
}

.subtitle {
    font-size: 1.5em;
}

.main-header {
    margin-bottom: 2em;
}

.main-footer {
    margin-top: 2em;
}

li, p {
    line-height: 1.2em;
}
